.DS_Store
*.3d
generator
parser
xml
bin/
*.out
teste
test
f2l

bin/*
!bin/*.3d
!bin/*.xml

bin_windows_engine/*
!bin_windows_engine/*.3d
!bin_windows_engine/*.xml

bin_windows_generator/*
!bin_windows_generator/*.3d
!bin_windows_generator/*.xml