.DS_Store
generator
parser
*.out
teste
test
f2l

engine_CMake/*
!engine_CMake/CMakeLists.txt

generator_CMake/*
!generator_CMake/CMakeLists.txt

bin_windows_generator/*
!bin_windows_generator/*.txt
!bin_windows_generator/*.patch

bin_windows_engine/*
!bin_windows_engine/*.txt
!bin_windows_engine/*.xml
!bin_windows_engine/*.3d

bin/*
!bin/*.3d
!bin/*.patch
!bin/*.xml