.DS_Store
*.3d
generator
parser
xml
bin/
*.out
teste
test
f2l

engine_CMake/*
!engine_CMake/CMakeLists.txt

generator_CMake/*
!generator_CMake/CMakeLists.txt

bin_windows_generator/*
!bin_windows_generator/*.txt